/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #ffffff;
  
}


a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color:#7bb6ff;
}

h1, h2, h3 {
	margin-bottom: 1rem;
}

ul {
	list-style: none;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

/* Header styles */
header {
	background-color: #000000;
  height:80px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 5px 50px rgba(86, 82, 82, 0.2);
	position: sticky;
	top: 0;
	z-index: 1;
  
}
header img{
  position: relative;
  left: 9px;
  top:6px;
}

header h1 {
	font-size: 2rem;
	margin-right: 2rem;
}
nav{
  position: relative;
  top:30%;
}

nav ul {
	display: flex;
}

nav li {
	margin-right: 1rem;
}

nav a {
	padding: 0.8rem;
}
.slider-container {
  position: relative;
  height: fit-content;
  z-index: 0;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #fff;
}

.text-container h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.2rem;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 500px;
}

.slider img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.slider img:first-child {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .slider img {
    max-height: 600px;
  }
  
  .text-container h2 {
    font-size: 1.5rem;
  }
  
  .text-container p {
    font-size: 1rem;
  }
}
.shop-now-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  position:sticky;
  
}
.shop-now-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  
 
}




/* Main styles */
main {
	margin: 0 100px;
}

section {
	margin-bottom: 2rem;
}

section h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}



.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.products .product p{
  font-weight:bold;
 
} 
.product-price {
  margin-bottom: 10px;
  text-align: center;
  color: #b51111;
  font-size: 1.3rem;
}

.button-container {
  margin-top: auto;
}

.buy-now-button {
  background-color: #00a8ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.buy-now-button:hover{
  background-color: #daffa9;
  color: #000000;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Form styles */

@media only screen and (max-width: 600px) {
  /* CSS styles for screens up to 600px wide */
}
.brands-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fffafa;
}

.brands-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.brand-container {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 0px solid #ffffff;
}

.brand-container img {
  max-width: 100%;
  height: 100px;
  display: block;
  margin: 0 auto;
}
footer{
  color:#000;
  text-align: center;
  background-color: aliceblue;
  height: 70px;

}
/*top picks*/
.container {
  display: flex;
  flex-wrap: wrap;
  padding:0 50px;
}
.left-col {
  flex-basis: 30%;
  background-color: #f2f2f2;
  padding: 20px;
  flex: 1;
  min-width: 200px;
}
.right-col {
  flex-basis: 70%;
  background-color: #e6e6e6;
  padding: 20px;
  flex: 2;
}
@media (max-width: 768px) {
  .container {
    display: block;
  }
  .left-col {
    flex-basis: 100%;
    min-width: 0; /* remove the minimum width for the left column */
    margin-bottom: 20px; 
  }
  .right-col {
    flex-basis: 100%;
     width: 100%;
  }
}

